/* 사용할 폰트 */
@font-face {
    font-family: 'PyeongChangPeace-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'HS-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/HS-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'TAEBAEKmilkyway';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/TAEBAEKmilkyway.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

h1{
    font-size: 2.5rem;
    font-family: 'HS-Regular';
}

section {
    max-width: 1000px;
    box-sizing: border-box;
    margin: auto;
}

/* 클래스 이름을 통한 css디자인 */
/* header의 nav */

.header{
    position: fixed;
    background-color: #2D3192cc;
    width: 100%;
    color: white;
    z-index: 100;
}

.header>.nav {
    max-width: 1000px;
    box-sizing: border-box;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.header>.nav>.nav-title{
    width: 170px;
    font-size: 1.5rem;
    text-align: center;
    font-family: 'PyeongChangPeace-Bold';
}
.header>.nav>.nav-menu {
    display: flex;
    /* width라는 정확한 너비 크기가 안 주어지면
    justify-content는 벌어져야할 공간의 비율을 만들 수가 없기에
    아무 영향이 없다. 그러니 반드시 너비 크기를 지정!*/
    width: 40%;
    justify-content: space-evenly;
    align-items: center;
}

.header>.nav>.nav-menu a{
    text-decoration: none;
    color: white;
    font-family: 'TAEBAEKmilkyway';
    font-weight: bold;
}

/*main*/
/* 섹션부분을 찾기 힘들 것 같다면 메인에 두어도 상관없음*/
.main{}

/*section 단위로 접근한다.*/

/* 상단 이미지 초점 및 크기 조절 */
.section1-wrap{
    width: 100%;
    min-height: 400px;
    height: 100vh;
    background-color: brown;
    background-image: url(../img/rose-g8968e0cab_1920.jpg);
    background-size: cover;
    background-position: center;
}

.section1-wrap>.section1-title{
    color: white;
    text-align: right;
    padding: 290px 20px 0 20px;
    text-shadow: 0 0 5px black;
    font-weight: bold;
}

/* 이미지 중앙에 있는 행사 이름을 좀더 크게*/
.section1-wrap>.section1-title>h1{
    font-size: 3rem;
}

/* 행사 이름 밑의 정보를 조금 크게하고 글씨체를 바꾸고
서로의 간격을 넓힌다.*/
.section1-wrap>.section1-title>h3{
    font-family: 'TAEBAEKmilkyway';
    font-size: 1.5rem;
    margin: 10px 0;
}

/* section2 행사 설명*/
/* 행사 설명과 행사 상세 정보가 적힌 section2에 
전체적인 간격을 준다. margin이 아닌 padding으로 했지만
margin도 괜찮지 않을까..*/
.section2-intro{
    text-align: center;
    padding: 60px;
    line-height: 120%;
}

.section2-intro>.intro-title{
    font-size: 2rem;
    /* intro title 내의 태그 줄 간격 벌리기*/
    line-height: 120%;
    font-family: 'HS-Regular';
    margin-bottom: 10px;
}

.section2-intro>.intro-descript>h3{
    font-family: 'TAEBAEKmilkyway';
    font-weight: bold;
    color: gray;
}

.section2-intro>.intro-descript>table{
    margin: auto;
    margin-top: 50px;
}

.section2-intro>.intro-descript>table tr td{
    padding: 8px;
}

.section2-intro>.intro-descript>table tr td:first-child{
    border-right: #2D3192 solid 2px;
    font-weight: bold;
    color: #2D3192cc;
}